
body {
  background-color: black;
}

#content {
  width: 850px;
  margin:0px auto;
  background-color:black;
}
#line_up {
  height: 10px;
  background: -moz-linear-gradient(top, rgba(122,122,122,0.99) 0%, rgba(122,122,122,0.97) 9%, rgba(252,252,252,0.84) 70%, rgba(252,252,252,0.78) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(122,122,122,0.99)), color-stop(9%,rgba(122,122,122,0.97)), color-stop(70%,rgba(252,252,252,0.84)), color-stop(100%,rgba(252,252,252,0.78))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(122,122,122,0.99) 0%,rgba(122,122,122,0.97) 9%,rgba(252,252,252,0.84) 70%,rgba(252,252,252,0.78) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(122,122,122,0.99) 0%,rgba(122,122,122,0.97) 9%,rgba(252,252,252,0.84) 70%,rgba(252,252,252,0.78) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(122,122,122,0.99) 0%,rgba(122,122,122,0.97) 9%,rgba(252,252,252,0.84) 70%,rgba(252,252,252,0.78) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(122,122,122,0.99) 0%,rgba(122,122,122,0.97) 9%,rgba(252,252,252,0.84) 70%,rgba(252,252,252,0.78) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc7a7a7a', endColorstr='#c7fcfcfc',GradientType=0 ); /* IE6-9 */
}

header {
  background-color: black;
  height: 50px;
}
#logo {
  display: inline-block;
}
#logo > img {
  width: 45px;
  height: 45px;
}
#select {
  float: right;
}

select {
  margin-left:5px;
  margin-right: 5px;
  border: thin transparent solid;
  background: transparent;
  font-family: sans-serif;
  font-size: 13px;
  color: #C3C3C3;
}

#buy {
  display: inline-block;
  margin-left:635px;
}

nav {
  height: 50px;

  background: -moz-linear-gradient(top, rgba(221,221,221,1) 0%, rgba(104,104,104,0.1) 53%, rgba(0,0,0,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(221,221,221,1)), color-stop(53%,rgba(104,104,104,0.1)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(221,221,221,1) 0%,rgba(104,104,104,0.1) 53%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(221,221,221,1) 0%,rgba(104,104,104,0.1) 53%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(221,221,221,1) 0%,rgba(104,104,104,0.1) 53%,rgba(0,0,0,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(221,221,221,1) 0%,rgba(104,104,104,0.1) 53%,rgba(0,0,0,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

nav > ul {
  margin: 0px;
  padding-top: 17px;
}

nav > ul >li:first-child{
  margin-left: 15px;
}

nav > ul > li {
  display: inline;

}

nav > ul > li:after {
  color:#C0C0C0; content: "  |  "
}

nav > ul > li:last-child:after {
  content: "";
}

#search {
  margin-right: 10px;
  float: right;
}

#search .bt_search {
  width: 14px;
  height: 16px;
}

#search .txt_search {

  width: 120px;
  height: 14px;
}

input[type="text"] {
  font-family: sans-serif;
  font-size: 9px;
  border: none;
}

#div_shop {
  background-color: white;
  width: 150px;
  margin-left: 20px;
  padding-top: 12px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 0px;

  float: left;
}

#section {
  background-color: white;
  height: 340px;
  padding: 15px 10px 8px 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}

#left_menu > ul {
  margin: 0px;
  padding: 0px;
}

#left_menu > ul > li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

#left_menu > ul > li > ul{
  list-style: none;
  border: 1px solid #C1C1C1;
  height: 205px;
  padding: 4px;
}

#left_menu > ul > li > ul > li{
  margin-left: 15px;
  list-style-image: url(../img/vineta.jpeg);
  padding: 1px;
}

#left_menu > ul > li > a {
  display: block;
  border: 1px solid #C1C1C1;
  margin: 0px;
  padding: 4px;

  background: -moz-linear-gradient(top, rgba(234,234,234,0.92) 0%, rgba(193,193,193,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(234,234,234,0.92)), color-stop(100%,rgba(193,193,193,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(234,234,234,0.92) 0%,rgba(193,193,193,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(234,234,234,0.92) 0%,rgba(193,193,193,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(234,234,234,0.92) 0%,rgba(193,193,193,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(234,234,234,0.92) 0%,rgba(193,193,193,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebeaeaea', endColorstr='#c1c1c1',GradientType=0 ); /* IE6-9 */
}

#left_menu {
  vertical-align: top;
  width: 200px;
  height: 330px;
  display: inline-block;
}

#slider {
  margin: 0px;
  padding: 0px;
  width: 580px;
  height: 330px;
  display: inline-block;
}
#slider > img {
  width: 580px;
  height: 330px;
}


#newsroom {

  background: -moz-linear-gradient(top, rgba(81,81,81,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(81,81,81,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(81,81,81,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(81,81,81,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(81,81,81,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(81,81,81,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6515151', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
  padding: 4px;
  margin-left: 20px;
  margin-right: 20px;
}

#botton_menu {

  margin-left: 20px;
  margin-right: 20px;
  height: 120px;
  background: -moz-linear-gradient(top, rgba(81,81,81,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(81,81,81,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(81,81,81,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(81,81,81,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(81,81,81,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(81,81,81,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6515151', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

#corporate {
  margin-left: 20px;
  height: 130px;
  width: 250px;
  display: inline-block;
}
#resources {
  height: 130px;
  width: 250px;
  display:  inline-block;
}
#customer {
  height: 130px;
  width: 240px;
  display:  inline-block;
}

.fuente_title_cor_sou_sup > ul{
  padding-left: 0px;
  width:300px;
}
.fuente_title_cor_sou_sup > ul > li{
  line-height:1.5em;
  float:left;
  display:inline-block;
}
#double_corporate li  { 
  width:50%;
}
#double_resources li  { 
  width:40%;
}
#double_customer li  { 
  width:50%;
}


#menun_footer ul > li {
  display: inline-block;
}
#menun_footer {
  text-align: left;
  margin-bottom: 40px;
}
#menun_footer> ul > li:after {
  color:#898989; content: "  |  "
}

#menun_footer > ul > li:last-child:after {
  content: "";
}

footer {
  text-align: center;
}

/* Fuentes */
header > div > span{
  font-family: sans-serif;
  font-size: 9px;
  color: white;
  text-decoration: none;
}
.fuente_nav {
  font-family: sans-serif;
  font-size: 14px;
  color: #C0C0C0;
  text-decoration: none;
}
.fuente_tit_nav {
  font-family: sans-serif;
  font-size: 16px;
  color: black;
  word-wrap: break-word;
  text-decoration: none;
}
.fuente_newsroom {
  font-family: sans-serif;
  font-size: 10px;
  color: #C3C3C3;
  text-decoration: none;
}
.fuente_title_cor_sou_sup {
  padding: 5px;
  margin: 0px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 11px;
  color: white;
  text-decoration: none;
}
.fuente_links_more_info li{
  font-family: sans-serif;
  font-size: 8px;
  color: #898989;
}
.fuente_title_left_menu{
  font-family: sans-serif;
  font-size: 10px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}
.fuente_links_sub_menu_left{
  font-family: sans-serif;
  font-size: 8px;
  color: #C3C3C3;
}
.fuente_footer_menu{
  font-family: sans-serif;
  font-size: 10px;
  color: #898989;
  text-decoration: none;
}
